extends ./layout

block content

    .banner
        canvas#canvas
        h1 Useful Utility Collection with Zero Dependencies:)
        a.btn.second(href='#{site.baseUrl}docs.html') VIEW DOCS 

    .md.container.mobile.intro!= contents

    script(src='#{site.baseUrl}static/js/index.js')