extends ./layout

block content

    .container.mobile
        .playground
            .initial-text Initializing RunKit...

    script(src='//embed.runkit.com')

    script.
        RunKit.createNotebook({
            element: _.$('.playground').get(0),
            source: [
                '// Only modules with all platform support can be required.',
                'const uuid = require("licia/uuid");',
                'const dateFormat = require("licia/dateFormat");',
                'const now = require("licia/now");',
                'const randomBytes = require("licia/randomBytes");\n',
                'console.log(randomBytes(5));',
                'console.log(uuid());',
                'console.log(dateFormat(now(), "yyyy-mm-dd"));'
            ].join('\n'),
            onLoad: function () 
            {
                _.$('.initial-text').remove();
            }
        });

