.banner
    height 360px
    padding 80px 48px 40px
    background #333
    background-image url(./static/img/banner.jpg)
    background-size cover
    background-position top left
    text-align center
    position relative
    h1
        margin 40px auto
        text-align center
        color #fff
        font-size 24px

.intro
    padding 20px 0 64px

@media (max-width $container-width)
    .banner
        padding 20px 48px
        height 280px
