.banner
    position relative
    height 360px
    padding 80px 48px 40px
    text-align center
    position relative
    h1
        margin 40px auto
        text-align center
        color #fff
        font-size 24px
    canvas
        position absolute
        left 0
        top 0    
        z-index -50

.intro
    padding 20px 0 64px

@media (max-width $container-width)
    .banner
        padding 20px 48px
        height 280px
