table
    border-collapse collapse
    margin 1em 0
    border 1px solid $pri-color
    tr:nth-child(even)
        background $gray
    thead
        background $pri-color
        th
            color #fff
            text-align left
    th, td
        padding 6px 10px