script(async src='https://www.googletagmanager.com/gtag/js?id=G-HLMNNR1SC0')
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HLMNNR1SC0');
footer Built for <a href="https://github.com/liriliri">Liriliri</a> project 2014-present
