script(async src='https://www.googletagmanager.com/gtag/js?id=UA-52367952-6')
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-52367952-6');
footer Built for <a href="https://github.com/liriliri">Liriliri</a> project 2014-present
