@import 'variable'
@import 'base'

@import 'button'

:root 
  --vp-c-brand-1 $sec-color
  --vp-nav-logo-height 48px

.VPImage.logo
  border-radius 50%  

.intro 
  padding 48px 32px 128px
  max-width 1088px
  margin 0 auto

.document
  padding 0 32px 128px
  max-width 1088px
  margin 0 auto
  i.env, i.download
    background-color $pri-color
    border-radius 50%
    color #fff
    padding 0 6px
    width 28px
    margin-left 4px
    font-size 16px
    float right
  i.download
    cursor pointer    
  i.since
    background-color $pri-color
    color: #fff
    float right
    margin-left 4px
    font-size 16px
    padding 0 6px
    border-radius 15px
    font-style normal
    cursor default