@import 'variable'
@import 'base'

@import 'button'

:root 
  --vp-c-brand-1: $sec-color;

.intro 
  padding 48px 32px 128px
  max-width 1088px
  margin 0 auto

.document
  padding 0 32px 128px
  max-width 1088px
  margin 0 auto